* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 2.5em;    
    line-height: 1.2em;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 2em;    
    line-height: 1.2em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.3em;
}

p {
    line-height: 1.5em;
}

.big-column > img,
.body-big-box > img {
    width: 100%;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.bg-gray {
    background-color: #F6F6F6;
}

.bg-white {
    background-color: #FDFFFD;
}

.bg-black {
    background-color: #23272A;
}

.bg-light-blue {
    background-color: #8EA1E2;
}

.small-text {
    font-size: 0.7em;
}

.text-center {
    text-align: center;
}

.text-white {
    color: whitesmoke;
}

.text-black {
    color: #252729;
}

.text-light-blue {
    color: #8EA1E2;
}

.dashed {
    border: 2px dashed black;
}

.dashed-white {
    border: 2px dashed white;
}

.button {
    margin-top: 1.5em;
    padding: 0.6em 1.5em;
    border-radius: 25px;
}

.small-button {
    padding: 0.5em 0.8em;
    border-radius: 25px;
}

/* FINE CSS GENERICO */


/* HEADER */

header {
    background-color: #3160E0;
    padding: 1em 0 0 0;
}

.logo {
    height: 1.5em;
}

.header-column-links,
.header-column-login,
.header-column-logo {
    align-items: center;
}

.header-column-logo {
    width: 20%;
    padding-left: 5px;
}

.header-column-links {
    width: 60%;
    justify-content: center;
}

.header-column-links > ul {
    list-style-type: none;
    gap: 3em;
}

.header-column-login {
    width: 20%;
    justify-content: flex-end;
    padding-right: 5px;
}

.jumbotron {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 513px;
    align-items: center;
}

.jumbotron-content {
    width: 40%;

    text-align: center;
}

.jumbotron-buttons {
    justify-content: center;
    gap: 15px;
}

/* MAIN */

section {
    padding: 6em;
}

.big-column {
    padding: 3em;
    width: 60%;
}

.small-column {
    padding: 5em;
    width: 40%;
}


/* FOOTER */

footer {
    background-color: rgb(57, 57, 57);
    padding: 3em 0;
}

.footer-section {
    padding-bottom: 3em;
}

.footer-section-lang-socials {
    width: 30%;
    padding-right: 3em;
}

.language-selection {
    margin: 1.5em 0;
}

#italian-flag {
    height: 1em;
    margin-right: 0.5em;
}

.social-media-icons {
    gap: 2em;
}

.footer-section-columns {
    width: 70%;
}

.footer-section-single-column {
    width: 25%;
    ul {
        list-style-type: none;
        li {
            padding-top: 1em ;
        }
    }
}

.footer-hr-strikethrough {
    border: 0.5px solid #8EA1E2;
    margin-bottom: 1em;
}

.footer-page-end {
    justify-content: space-between;
}
