* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 2.5em;    
    line-height: 1.2em;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 2em;    
    line-height: 1.2em;
}

p {
    line-height: 1.5em;
}

.big-column > img,
.body-big-box > img {
    width: 100%;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.bg-gray {
    background-color: #F6F6F6;
}

.bg-white {
    background-color: #FDFFFD;
}

.bg-black {
    background-color: #23272A;
}

.bg-light-blue {
    background-color: #8EA1E2;
}

.text-center {
    text-align: center;
}

.text-white {
    color: whitesmoke;
}

.text-black {
    color: #252729;
}

.dashed {
    border: 2px dashed black;
}

.dashed-white {
    border: 2px dashed white;
}

.jumbotron-buttons {
    justify-content: center;
    gap: 15px;
}

.button {
    margin-top: 15px;
    padding: 0.6em 1.5em;
    border-radius: 25px;
}

/* FINE CSS GENERICO */


/* HEADER */

header {
    background-color: #3160E0;
    padding: 1em 0 0 0;
}

.header-column-links,
.header-column-login,
.header-column-logo {
    align-items: center;
}

.header-column-logo {
    width: 20%;
    padding-left: 5px;
}

.header-column-links {
    width: 60%;
    justify-content: center;
}

.header-column-links > ul {
    list-style-type: none;
    gap: 3em;
    font-size: 0.8em;
}

.header-column-login {
    width: 20%;
    justify-content: flex-end;
    padding-right: 5px;
}

.small-button {
    padding: 0.3em 0.5em;
    border-radius: 25px;
    font-size: 0.8em;
}

.jumbotron {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 513px;
    align-items: center;
}

.jumbotron-content {
    width: 40%;

    text-align: center;
}

/* MAIN */

section {
    padding: 2em;
}

.big-column {
    padding: 3em;
    width: 60%;
}

.small-column {
    padding: 5em;
    width: 40%;
}


/* FOOTER */

footer {
    background-color: rgb(57, 57, 57);
}

.footer-section {
    padding: 7px 0 30px 0;
}

.footer-section-pink {
    background-color: palevioletred;
    min-height: 450px;
    width: 30%;
}

.footer-section-green {
    background-color: lightseagreen;
    width: 70%;
}

.footer-box-green {
    width: 25%;
}

.footer-hr-strikethrough {
    height: 2px;
    color: white;
}

.footer-page-end {
    background-color: aquamarine;
    min-height: 3em;
    margin-top: 20px;

    justify-content: space-between;
    align-items: center;
}